<p style="font-weight:bold;text-decoration:underline;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:30px;text-align:center;font-family:georgia, serif;line-height:1;margin:20px 0;">My Stocks</p>
<p style="font-weight:bold;color:#000000;background-color:#FFFFFF;letter-spacing:1pt;word-spacing:2pt;font-size:45px;text-align:center;font-family:georgia, serif;line-height:1;margin:20px 0;">Total Profit/Loss : <%= total_pl(@my_scripts)%></p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="table_table" width="100%">
<thead>
  <tr>
<th>Symbol</th>
<th>Last Trade Price</th>
<th>Buy Quantity</th>
<th>Buy Price</th>
<th>Sell Quantity</th>
<th>Sell Price</th>
<th>Profit/Loss</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<% @my_scripts.each do |script| %>
<tr>
<td><%= script.script_symbol %></td>
<td><%= find_last_trade(script.script_symbol)%></td>
<td><%= buy_quantity(script)%></td>
<td><%= buy_price(script)%></td>
<td><%= sell_quantity(script)%></td>
<td><%= sell_price(script)%></td>
<td><%= profit_loss(script)%></td>
<td><%= link_to "Delete", session_destroy_stock_path(:car => script.id), :confirm => 'Are you sure?' %></td>
</tr>
<% end %>
</tbody>
</tfoot>
</table>