<div style="height:150px;border:1px solid black;width:100%;background:none repeat scroll 0 0 #0092C8">
<%= image_tag "banner.png", :style => "padding:36px 0 0 310px"%>
</div>
<div id="user_nav" style="height:20px;width:100%;">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% end %>
</div>

<div style="height:65px;width:100%;">
<%= form_tag url_for(:controller=>'session',:action=>'welcome') , :method=>'get', :id=>"searchbox" do %>
		<%= text_field_tag :search, params[:search],:id=>"search",:placeholder=>"Search and Add your Stock here..." %>
		
		<button type="submit" class="search_btn" id="mazzi">Search</button>
<% end %>
</div>
<div id="dialog-form">

</div>

<%= render :partial => 'datatable' %>


<div id="buy-form" style="border:2px solid;display:none;">

  <%= form_tag do %>
<table border="0" id="form_table">
<caption>Buy/Sell Form<br/></caption>
  <tr>
    <th width="50%">Script Symbol &#8250;</th>
    <td>
        <%= text_field_tag :script_symbol, params[:script_symbol] %>
     </td>
  </tr>
  <tr>
    <th>Buy/Sell &#8250;</th>
    <td id="buy_sale">
    Buy: <%= radio_button_tag 'mode', 'Buy' %><br/>
	Sell: <%= radio_button_tag 'mode', 'Sell' %>
    </td>
  </tr>
    <tr>
    <th width="50%">Quantity &#8250;</th>
    <td>
        <%= text_field_tag :quantity, params[:quantity] %>
    </td>
  </tr>
     <tr>
    <th width="50%">Price &#8250;</th>
    <td>
        <%= text_field_tag :user_price, params[:user_price] %>
    </td>
  </tr>
    <tr>
    <th> </th>
    <td>
    <%= submit_tag 'Submit',:id=>"add_to_db", :name => 'submit'%>
    
    </td>
  </tr>
</table>


    <% end %>
</div>

<style>
#searchbox
{
	background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
	
	-moz-border-radius: 35px;
	border-radius: 35px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;            
	width: 500px;
	height: 35px;
	padding: 10px;
	margin: 10px auto 50px;
	overflow: hidden; /* Clear floats */
}
#search, #mazzi
{
	float: left;
}

#search
{
	padding: 5px 9px;
	height: 23px;
	width: 380px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	
	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#mazzi
{		
	background: #0092C8;
	background-image: -moz-linear-gradient(#0092D2, #0092C8);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
	
	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #0092C8 #578e57 #0092C8;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 35px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#mazzi:hover
{		
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}	

#mazzi:active
{		
	background: #95d788;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#mazzi::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}
#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
} 
</style>


<script>
$("#mazzi").click(function(e) {
 
 e.preventDefault();
  $.fancybox.showLoading();
 var sc = $("#search").val();
 $.ajax({
type: "GET",
url: "/session/find_possible_scripts",
data: {search : sc},
success: function(data){
 
  $.fancybox(data);	
    },
  error: function(data,status,e){
    alert(e);
  }
    });
 
}); 
 $(".add").click(function(){
var sym = $(this).attr("name");
$("#script_symbol").val(sym);

    });
$(".add").fancybox();
function sendDataToServer() {
var symb = $("#script_symbol").val();
var b_s = $("#buy_sale input[type='radio']:checked").val();;
var quan = $("#quantity").val();
var price = $("#user_price").val();
    var data = {
script_symbol: symb,	
buyorsale: b_s,
quantity: quan,
user_price: price,
commit: "Submit"
    }
    $.ajax({
type: "POST",
url: "/session/add_to_portfolio",
data: data,
dataType: "script",
success: function(){
    alert('Added Successfully');
	window.location.reload(true);
  },
  error: function(data,status,e){
    alert(e);
  }
    });
}
$("#add_to_db").click(function(e){
        e.preventDefault();
        sendDataToServer(); 
    });
	

</script>

